@keyframes moveInBottom {
  0% {
    opacity: 0;
    height: 0%; }
  80% {
    height: 80%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: DM Sans, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
  background-color: #f8e9dd; }

.top-card {
  min-width: 34.3rem;
  min-height: 9.7rem;
  border-radius: 1rem;
  background-color: #ec755d;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .top-card__balance {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.953rem;
    color: #fff;
    margin-left: 2rem; }
  .top-card .balance--number {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.125rem; }
  .top-card__img {
    max-width: 6rem;
    margin-right: 2.4rem; }

.bottom-card {
  min-width: 34.3rem;
  min-height: 42.1rem;
  border-radius: 1rem;
  background-color: #fffbf6;
  display: flex;
  align-items: center;
  flex-direction: column; }

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.125rem;
  color: #382314;
  align-self: flex-start;
  margin-top: 2.4rem;
  margin-left: 2rem;
  margin-bottom: 2rem; }

.graph-container {
  display: flex;
  gap: 1.2rem;
  width: 30.3rem;
  height: 18rem;
  align-items: flex-end;
  justify-content: center; }

.bar-container {
  height: 100%;
  width: 11%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.graph {
  background-color: #ec755d;
  height: 31.07%;
  width: 100%;
  border-radius: 3px;
  animation-name: moveInBottom;
  animation-duration: 1.75s; }
  .graph:hover {
    cursor: pointer;
    filter: brightness(110%);
    opacity: 0.7; }

.active {
  background-color: #76b5bc;
  height: 52.36%;
  position: relative; }

.graph-days-container {
  display: flex;
  gap: 1.2rem;
  width: 30.3rem;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2.4rem;
  border-bottom: 2px solid #f8e9dd; }

.day {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.562rem;
  color: #92857a;
  margin-top: 1.1rem;
  text-align: center;
  width: 100%; }

.bottom-card__text {
  display: flex;
  width: 100%;
  color: #92857a;
  align-items: flex-end; }

.bottom-card__balance, .bottom-card__difference {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.953rem;
  margin-left: 2rem; }

.bottom-card__difference {
  text-align: right;
  margin-left: 7.7rem;
  margin-top: 4.7rem;
  font-weight: 700;
  color: #382314; }

.bottom-card__balance {
  margin-top: 2.4rem; }

.month-balance--number {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.9rem;
  color: #382314; }

.small-text {
  font-weight: 400;
  color: #92857a; }

.money {
  background-color: #382314;
  color: #fffbf6;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.344rem;
  text-align: center;
  width: 130%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 5px;
  transform: translate(-15%, -0.8rem);
  opacity: 0;
  visibility: visible; }

.visible {
  opacity: 1; }

@media (min-width: 600px) {
  .top-card {
    min-width: 54rem;
    min-height: 12.5rem; }
    .top-card__balance {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.344rem;
      margin-left: 3.2rem; }
    .top-card .balance--number {
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 4.166rem; }
    .top-card__img {
      max-width: 7.2rem;
      margin-right: 3.9rem; }
  .bottom-card {
    min-width: 54rem;
    min-height: 51.1rem; }
  .graph-container {
    gap: 1.8rem;
    width: 46rem;
    height: 23rem; }
  .graph-days-container {
    gap: 1.2rem;
    width: 46rem;
    padding-bottom: 2.4rem; }
  .graph {
    border-radius: 5px; }
  .heading-tertiary {
    font-size: 3.2rem;
    line-height: 4.166rem;
    margin-top: 3.2rem;
    margin-left: 4rem;
    margin-bottom: 5rem; }
  .bottom-card__text {
    display: flex;
    width: 100%;
    color: #92857a;
    align-items: flex-end; }
  .bottom-card__balance, .bottom-card__difference {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.344rem;
    margin-left: 4rem;
    padding-bottom: 3.2rem; }
  .bottom-card__difference {
    text-align: right;
    margin-left: 14.3rem;
    font-weight: 700;
    color: #382314; }
  .bottom-card__balance {
    margin-top: 3.2rem; }
  .month-balance--number {
    font-size: 4.8rem;
    line-height: 6.25rem; }
  .money {
    font-size: 1.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem; }
  .visible {
    opacity: 1; } }
