$color-primary: #ec755d;
$color-secondary: #76b5bc;

$color-body-background: #f8e9dd;

$color-card-background: #fffbf6;

$color-main-text: #382314;
$color-secondary-text: #92857a;

$color-white: #fff;
$color-black: #000;
